.quiz-container {
  padding-bottom: 16px;
}

.cards-container {
  width: 100vw;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.image-container p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 12px;
  color: black;
}
