.ods-page-container {
  background-color: white;
  max-width: 700px;
  text-align: left;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 70px;
}

.btn-arrow {
  background: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 16px;
  font-size: 24px;
}

.ods-header {
  position: fixed;
  background: white;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  text-align: left;
  border: #d9d9d9 1px solid;
  padding: 16px;
  gap: 12px;
  h1 {
    font-size: 24px;
  }
}

.ods-page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
  display: flex;
  align-items: start;
  text-align: left;
}

.ods-page-subtitle {
  font-size: 24px;
  color: #020617;
  font-weight: 600;
}

.od-description {
  color: #334155;
}

.res-brasil {
  font-size: 24px;
  color: #020617;
  font-weight: 600;
}

.res-ini {
  color: #334155;
}

.ods-response-list {
  color: #334155;
  padding-left: 24px;
}

.not-found {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}
