.quiz-card {
  width: 380px;
  height: 86px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #000;
  padding: 0;
  margin: 0;
  border: 1px solid #e2e8f0;
  box-shadow: -1px 9px 15px -2px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 9px 15px -2px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 9px 15px -2px rgba(0, 0, 0, 0.36);
}

.image {
  border-radius: 15px 0px 0px 15px;
  width: 115px;
  height: 86px;
  object-fit: cover;
}

.quiz-infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.quiz-infos img {
  object-fit: contain;
}

.quiz-infos .title {
  text-align: left;
  font-size: 16px;
}
