.home-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 20px 12px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.notification {
  color: #000;
}

.search {
  color: #000;
}

.home-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.ods-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ods-number-title {
  list-style: decimal;
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.ods-subtext {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 12px;
}

.ods-big-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 14px;
}

.ods-read-more {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  padding: 12px 0;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.ods-read-more:hover {
  color: #333;
}
